<% @torrents.each do |torrent| %>
  <a href ="#" class="list-group-item ui-widget-content" >
    <span class="label label-default label-pill pull-xs-right"> <%= torrent["status"] %> </span>
    <span class="label label-default label-pill pull-xs-right"> <%= torrent["id"] %> </span>
    <%= torrent["name"] %>
    <progress class="progress progress-success" value="<%= (torrent["percentDone"]*200).round %>" max="200"><%= (torrent["percentDone"]*200).round %></progress>
  </a>
<% end %>